.question-grid {
  display: grid;
  max-width: fit-content;
  place-items: start;
}

.next {
  place-self: center;
}

.hidden {
  display: none;
}

body {
  font-family: "Poiret One", cursive;
  font-size: 24px;
  margin: auto;
  max-width: 900px;
  text-align: center;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.5rem;
}

.btn {
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border: 1px solid #337bc4;
  border-radius: 5px;
  box-shadow: 3px 4px 0 #1564ad;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Sigmar One", cursive;
  font-size: 17px;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
}

.btn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

.btn:active {
  position: relative;
  top: 8px;
}

p {
  display: inline;
}

.choiceNumber {
  background-color: #79bbff;
  color: #fff;
  padding: 1rem;
}

.answerDiv {
  padding: .5rem 0;
}

.answerDiv:hover {
  transform: translateY(5px);
}

.choice {
  padding: 1rem;
  width: 100%;
}

.choice:hover {
  border: 1px dotted #79bbff;
  cursor: pointer;
}

#choiceein {
  padding: 1rem 1.35rem;
}

#choicedri {
  padding: 1rem 1.1rem;
}

#choicevier {
  padding: 1rem 1.15rem;
}

.answerDiv {
  margin: 2rem;
}

#question {
  margin: auto;
  max-width: 600px;
}

#progress_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 600px;
}

#progress_counter {
  color: #1564ad;
  font-weight: bolder;
}

#progress_bar {
  border: 0.1rem solid #1564ad;
  height: 2rem;
  margin: auto;
  text-align: center;
  width: 20rem;
}

#progress_bar_full {
  background-color: #1564ad;
  height: 2rem;
  width: 10%;
}

.score {
  font-size: 2rem;
  margin: 2rem;
}

.scoretext {
  display: flex;
}

body {
  margin: auto;
  overflow: hidden;
}

.curtain {
  height: 100vh;
  width: 100%;
}

.curtain-wrapper {
  height: 100%;
  width: 100%;
}

.curtain-wrapper input[type='checkbox'] {
  cursor: pointer;
  height: 70%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.curtain-wrapper input[type='checkbox']:checked ~ div.curtain-panel-left {
  transform: translateX(0);
}

.curtain-wrapper input[type='checkbox']:checked ~ div.curtain-panel-right {
  transform: translateX(0);
}

.curtain-panel {
  align-items: center;
  background: #ffa500;
  color: #fff;
  display: flex;
  float: left;
  height: 100vh;
  position: relative;
  transition: 1s ease-out;
  width: 50%;
  z-index: 3;
}

.curtain-panel-left {
  justify-content: flex-end;
  transform: translateX(-100%);
}

.curtain-panel-right {
  justify-content: flex-start;
  transform: translateX(100%);
}

.curtain-content {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 900px;
  padding-top: 5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.curtain-content img {
  width: 20%;
}

.attribution {
  font-size: .4rem;
}

.playagain {
  margin-bottom: 1rem;
  z-index: 2;
}

body {
  background-color: aquamarine;
}
/*# sourceMappingURL=styles.css.map */