$main-color: #00f;
$heading-font: 'Sigmar One', cursive;
$body-font: 'Poiret One', cursive;
$btn-box: #1564ad;
$btn-shadow: #528ecc;
$btn-border: #337bc4;
$btn-color: #79bbff;
$btn-gradient: #378de5;
